apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: agri-procurement-api
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: agri
      app.kubernetes.io/name: procurement-api
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
