apiVersion: v1
kind: Service
metadata:
  name: {{ include "procurement-api.fullname" . }}
  labels:
    {{- include "procurement-api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: procurement-api
    app.kubernetes.io/instance: agri
